<div class="viewport">
    <div class="flex-column fill-parent">

        <!-- Header -->
        <div class="flex-item-static flex-row viewport-header">
            <div class="flex-item-dynamic"></div>
            <div class="flex-item-static">
                <span>{{tutorial.headerTitle}}</span>
            </div>
            <div class="flex-item-dynamic"></div>
        </div>

        <!-- Body -->
        <div class="flex-item-dynamic flex-column viewport-body">

            <!-- Temp Under Construction Message -->
            <div class="flex-item-dynamic"></div>
            <div class="flex-item-static flex-row">
                <div class="flex-item-dynamic"></div>
                <div class="flex-item-static">Tutorial under construction, please check back later for a new commit.</div>
                <div class="flex-item-dynamic"></div>
            </div>
            <div class="flex-item-dynamic"></div>


        </div>

    </div>
</div>