<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Joe Alves</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<nav>
    <ul>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
</nav>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>