.footer_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar_wrapper {
    display: flex;
    align-items: center;
    margin: 0 20px
}

.avatar {
    height: 60px;
    width: 75px;
}

.my_info {
    margin: 0 30px;
    display: flex;
    flex-flow: column;
    font-weight: bold;
    font-size: 13px;
}

.links {
    margin: 0 10px;    
}

.my-site,
.linked-in,
.angelist,
.github {
    max-width: 30px;
    min-width: 30px;
    margin: 0 10px;
}

.tooltip {
    display:inline-block;
    position:relative;
    text-align:left;
}

.tooltip .top {
    min-width:15px; 
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#222;
    background-color:#cecdcd;
    font-weight:bold;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    border:1px solid #222;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; 
    opacity:0; 
    transition:opacity 0.8s;
    
}

.tooltip:hover .top {
    visibility:visible; 
    opacity:1;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#888888;
    border:1px solid #222;box-shadow:0 1px 8px rgba(0,0,0,0.5);
}