<title><%= title %></title>

<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Coder100's Personal Website">
<meta name="theme-color" content="#7c5231">
<meta name="author" content="Coder100">
<meta name="color-scheme" content="dark">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="bg.css">
<link rel="stylesheet" href="style.css">

<link rel="shortcut icon" href="logo/logo.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="logo/logo.ico">
<link rel="icon" type="image/png" sizes="196x196" href="logo/logo-192.png">
<link rel="icon" type="image/png" sizes="160x160" href="logo/logo-160.png">
<link rel="icon" type="image/png" sizes="96x96" href="logo/logo-96.png">
<link rel="icon" type="image/png" sizes="64x64" href="logo/logo-64.png">
<link rel="icon" type="image/png" sizes="32x32" href="logo/logo-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="logo/logo-16.png">
<link rel="apple-touch-icon" href="logo/logo-57.png">
<link rel="apple-touch-icon" sizes="114x114" href="logo/logo-114.png">
<link rel="apple-touch-icon" sizes="72x72" href="logo/logo-72.png">
<link rel="apple-touch-icon" sizes="144x144" href="logo/logo-144.png">
<link rel="apple-touch-icon" sizes="60x60" href="logo/logo-60.png">
<link rel="apple-touch-icon" sizes="120x120" href="logo/logo-120.png">
<link rel="apple-touch-icon" sizes="76x76" href="logo/logo-76.png">
<link rel="apple-touch-icon" sizes="152x152" href="logo/logo-152.png">
<link rel="apple-touch-icon" sizes="180x180" href="logo/logo-180.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="logo/logo-144.png">
<meta name="msapplication-config" content="logo/browserconfig.xml">