.display_character {
    /* max-height: 350px; */
    /* max-width: 900px; */
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    font-family: var(--font-display-title);
    color: rgba(0, 0, 0, .65);
    height: 38vw;
    width: 100%;
    margin: 0 auto
}

.image_wrapper {
    display: flex;
    /* max-height: 300px; */
    justify-content: flex-end;
}

.default_background,
.character_image_box {
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 100%;
    width: auto;
    /* margin-top: 1%; */
    /* position: absolute; */
    margin-bottom: 2%;
}

.default_background {
}

.character_image {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 5.5%;
}

.character_info_wrapper {
    width: 100%;
    height: 100%;
    grid-column: 2 / 4;
    display: flex;
    justify-content: flex-start;
    padding-right: 15px
}

.character_image_box-enter,
.character_image_box-exit-done {
    opacity: 0;
}

.character_image_box-enter-active {
    opacity: 1;
    transition: opacity 2000ms linear;
}

.character_image_box-exit {
    opacity: 1;
}

.character_image_box-exit-active {
    opacity: 0;
    transition: opacity 2000ms linear;
}