#wp_insert_vi_consent_popup_overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10000;
}

#wp_insert_vi_consent_popup_wrapper *
{
    box-sizing: border-box;
}

#wp_insert_vi_consent_popup_wrapper {
    max-width: 480px;
    background: rgba(255,255,255,0.9);
    padding: 20px 30px 20px 30px;
    position: fixed;
    right: 0;
    bottom: 0;
    color: #000;
    z-index: 10001;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    border-top: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
}

#wp_insert_vi_consent_popup_wrapper2 {
    text-align: center;
    margin: 0 auto;
}

#wp_insert_vi_consent_popup_wrapper h1 {
    line-height: 42px;
    font-weight: 400;
    font-family: sans-serif,Helvetica,Arial;
    font-size: 36px;
    text-align: center;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: #000;
    display:none !important;
}


#wp_insert_vi_consent_popup_wrapper p {
    font-size: 14px;
    font-family: sans-serif,Helvetica,Arial;
    line-height: 20px;
    margin: 10px 0 30px;
    padding: 0;
    border: none;
    background: none;
    color: #000;
    text-align: justify;
    font-weight: 400;
}

#wp_insert_vi_consent_popup_wrapper p a,
#wp_insert_vi_consent_popup_wrapper p a:hover {
    font-size: 14px;
    font-family: sans-serif,Helvetica,Arial;
    line-height: 20px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: #000;
    text-decoration: underline;
}

#wp_insert_vi_consent_popup_wrapper #wp_insert_vi_consent_popup_actions_wrapper {
    text-align: center;
    margin: 0;
}

#wp_insert_vi_consent_popup_wrapper #wp_insert_vi_consent_popup_actions_wrapper #wp_insert_vi_consent_popup_disagree_btn,
#wp_insert_vi_consent_popup_wrapper #wp_insert_vi_consent_popup_actions_wrapper #wp_insert_vi_consent_popup_disagree_btn:hover {
    cursor: pointer;
    color: #000;
    background: none;
    border: none;
    padding: 10px 30px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    font-family: sans-serif,Helvetica,Arial;
    margin: 0;
}

#wp_insert_vi_consent_popup_wrapper #wp_insert_vi_consent_popup_actions_wrapper #wp_insert_vi_consent_popup_agree_btn,
#wp_insert_vi_consent_popup_wrapper #wp_insert_vi_consent_popup_actions_wrapper #wp_insert_vi_consent_popup_agree_btn:hover {
    cursor: pointer;
    color: #000;
    background: rgba(226, 226, 226, 1);
    border: 2px solid rgba(197, 197, 197, 1);
    padding: 10px 60px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    font-family: sans-serif,Helvetica,Arial;
    border-radius: 18px;
    margin: 0;
}

#wp_insert_vi_consent_popup_wrapper #wp_insert_vi_consent_popup_links_wrapper {
    text-align: center;
}

#wp_insert_vi_consent_popup_wrapper #wp_insert_vi_consent_popup_links_wrapper a,
#wp_insert_vi_consent_popup_wrapper #wp_insert_vi_consent_popup_links_wrapper a:hover {
    color: #000;
    background: none;
    border: none;
    padding: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    font-family: sans-serif,Helvetica,Arial;
    margin: 0;
    text-decoration: underline;
    line-height: 24px;
}

#wp_insert_vi_consent_popup_settings_button {
    font-size: 13px;
    color: rgba(146, 135, 131, 1);
    background: url(../images/privacy-eye.png) no-repeat left center;
    padding: 0 0 0 32px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 10002;
    font-family: sans-serif,Helvetica,Arial;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#wp_insert_vi_consent_popup_wrapper #wp_insert_vi_consent_popup_message {
    margin-bottom: 15px;
}

#wp_insert_vi_consent_popup_wrapper #wp_insert_vi_consent_popup_message p {
    display: inline !important;
    text-align: center;
}