<h1>Sign In</h1>
<form action="<%= session_url %>" method="POST">
  <label>Username
    <input type="text" name="user[username]">
  </label>
  <label>Password
    <input type="password" name="user[password]">
  </label>
  <button>Sign In</button>

  <%= flash[:errors] = flash[:errors] %>
</form>