extends layout.pug

block content
  include includes/navigation
  include includes/scripts
  body
    if article
    div.articleContainer
      div.articleTitle= article.title
      div.articleAuthor
        img.authorImg(src="https://i.pinimg.com/736x/33/32/6d/33326dcddbf15c56d631e374b62338dc.jpg")
        div.authorName= article.userId
          button.followButton Follow
      div.articleBody= article.body
