h2 {
  text-align: center;
}

.loginForm {
  max-width: 400px;
  min-height: 350px;
  min-width: 210px;
  border-radius: 20px;
  margin: auto;
  background-color: rgb(0 0 0 / 70%);
  box-sizing: border-box;
  padding: 20px;
  color: #fff;
  margin-top: 100px;
}

.loginForm__signupLink {
  display: flex;
  justify-content: center;
  margin: 30px;
  color: #cacdcf;
}

.loginForm__signupLink:hover {
  color: white;
}

.loginForm__input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 5px;
  background-color: rgba(114, 137, 218, 0.7);
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  margin: 10px 5px;
  font-weight: bold;
}

.loginForm__input:hover {
  background-color: rgba(114, 137, 218, 1);
}

.loginForm__header {
  margin: 0px 0px 50px 0px;
}

.loginForm__button {
  width: 50%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 100px;
  margin-left: 25%;
  outline: none;
  border: none;
  background-color: rgb(255, 123, 0);
  opacity: 0.7;
  border-radius: 20px;
  font-size: 20px;
  color: #fff;
}

.loginForm__button:hover {
  background-color: rgb(255, 142, 50);
  opacity: 1;
}
