.app-bar {
    /* height: 55px; */
}

.grid {
    /* height: 93vh; */
    max-width: 1200px;
    /* height: 98vh;
    min-height: 100%; */
    
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr;
    grid-template-rows: 440px 1fr 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgba(242,242,242,.75);
    /* box-shadow: -10px 0px 5px 0px rgba(0, 0, 0, .25), 10px 0px 10px 0px rgba(0, 0, 0, .25); */
}

.grid_nav {
    grid-area: 1 / 1 / 4 / 2;
    /* border: thin solid black; */
    display: flex;
    border-right: thin solid rgba(0,0,0,.15)
}

.grid_photo {
    grid-area: 1 / 2 / 2 / 5;
    /* border: thin solid black; */
    display: grid;
    margin-top: 15px;
}

.grid_form {
    grid-area: 2 / 2 / 3 / 5;
    /* border: thin solid black; */
    display: flex;
    flex-flow: column;
    height: 100%;
    margin-top: 40px;
}

/* .grid_display {
    grid-area: 2 / 3 / 3 / 5;
    border: thin solid black;
    display: flex;
} */

.grid_footer {
    grid-area: 3 / 2 / 4 / 5;
    /* border: thin solid black; */
    background-color: var(--primary);
}



@media (max-width: 1099px) {
    .grid {
        width: 100vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 425px 1fr 100px;
    }
    
    .grid_photo {
        grid-area: 1 / 1 / 2 / 4;
    }
    
    .grid_form {
        grid-area: 2 / 1 / 3 / 4;
    }
    
    .grid_footer {
        grid-area: 3 / 1 / 4 / 4;
    }
    
    .grid_nav {
        border-right: 0px;
        display: none;
    }
}