<header class="masthead"> 
  <nav class="language-nav">
    <ul>
      <li> <a href="">CSS</a></li>
      <li> <a href="">HTML</a></li>
      <li> <a href="">Javascript</a></li>
      <li> <a href="">Ruby</a></li>
    
    </ul>
  </nav>

  <img class="logo" src="assets/AA_Times_Logo.png" alt="">

  <div class="masthead-links">
      <li> Tuesday, October 18, 2016</li>
      <li> <a href=""> Today's Paper </a></li>
      <li> <a href=""> Video </a></li>
      <li> <button> 77°F </button> </li> 
      <li> <button> AAO <strong> +100% </strong> </button> </li>
  </div>
  
  </ul>
</header>