.wpcw-widget-contact ul,
.wp-block-contact-widgets-contact-block ul,
.wp-block-contact-widgets-social-block ul,
.wpcw-widget-social ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.wpcw-widget-contact ul li,
.wp-block-contact-widgets-contact-block ul li,
.wpcw-widget-social ul li.has-label {
	padding: 10px 0;
}
.wpcw-widget-contact ul li:before,
.wpcw-widget-contact ul li:after,
.wp-block-contact-widgets-contact-block ul li:before,
.wp-block-contact-widgets-contact-block ul li:after,
.wpcw-widget-social ul li:before,
.wpcw-widget-social ul li:after {
	display: none;
}
.wpcw-widget-contact ul li div,
.wp-block-contact-widgets-contact-block ul li div {
	display: inline;
}
.wp-block-contact-widgets-contact-block .has-map {
  display: block;
  margin-top: 20px;
}
.wpcw-widget-social ul li:not(.has-label) {
	display: inline-block;
	margin: 0 0 0.75em 0.75em;
	border: none;
}
.wpcw-widget-social ul li.has-label a {
	display: block;
}
.wpcw-widget-social ul li.has-label svg {
	margin-left: 0.25em;
}

/**
 * Block Styles
 */
.wp-block-contact-widgets-social-block ul li a {
	text-decoration: none;
}

.wp-block-contact-widgets-social-block ul li,
.wp-block-contact-widgets-social-block ul li.has-label {
	padding: 10px 0;
}

.wp-block-contact-widgets-social-block ul li:not(.has-label) {
	display: inline-block;
	margin: 0 0 0.75em 0.75em;
	border: none;
}
